# vim:ft=yaml.ansible
---
- name: X - Install desktop packages
  tags: [X]
  become: true
  ansible.builtin.package:
    name: "{{ x_packages }}"

- name: X - kitty.conf
  tags: [X]
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/.config/kitty/kitty.conf"
    content: |
      # Ctrl+Shift+F5 to reload config
      font_family JetBrainsMonoNerdFont
      font_size {{ kitty.font_size[ansible_hostname] | default(13) }}
      disable_ligatures never
      cursor #87ff00
      cursor_shape block
      background_opacity 0.8
      map ctrl+enter send_text all \x1b[13;5u
      map shift+enter send_text all \x1b[13;2u
    mode: 0644

# - name: X/fonts - Create required directories
#   ansible.builtin.file:
#     path: "{{ item }}"
#     state: directory
#     mode: "0755"
#   loop:
#     - "{{ ansible_env.HOME }}/.local/share/fonts/"
#     - "{{ ansible_env.HOME }}/Downloads"
#   tags:
#     - fonts
#     - X

# - name: X/fonts - Get/Extract jetbrains
#   ansible.builtin.unarchive:
#     src: https://download.jetbrains.com/fonts/JetBrainsMono-2.242.zip
#     dest: "{{ ansible_env.HOME }}/Downloads"
#     remote_src: true
#   tags:
#     - fonts
#     - X

# - name: X/fonts - Install jetbrains
#   ansible.builtin.copy:
#     src: "{{ item }}"
#     dest: "{{ ansible_env.HOME }}/.local/share/fonts"
#     force: false
#     mode: "0644"
#   with_fileglob:
#     - "{{ ansible_env.HOME }}/Downloads/fonts/ttf/*"
#   tags:
#     - fonts
#     - X
#
# - name: X/fonts - Refresh font cache
#   ansible.builtin.command: fc-cache
#   changed_when: true
#   tags:
#     - fonts
#     - X
