# vim:ft=yaml.ansible
---
- name: Install Syncthing
  tags: syncthing
  become: true
  ansible.builtin.package:
    update_cache: true
    name: [syncthing, supervisor]
    state: present

- name: Superviror configuration for Syncthing
  tags: syncthing
  become: true
  ansible.builtin.copy:
    content: |
      [program:syncthing]
      autorestart = True
      directory = /home/mx/
      user = mx
      command = /usr/bin/syncthing -no-browser
      environment = STNORESTART="1", HOME="/home/mx"
    dest: /etc/supervisor/conf.d/syncthing.conf
    mode: '0644'
  # notify:
  #   - Supervisor reload programs


# FIXME: This notify handler using `supervisorctl` does not work. Need to run `systemctl restart supervisor` manually for now.
# TODO: write service restart handler for supervisor


# - name: Supervisor restart syncthing
#   become: true
#   community.general.supervisorctl:
#     name: "program:syncthing"
#     state: restarted
